/* General styles for the footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
}

.logo h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.logo p {
  font-size: 1rem;
}

.social-media {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
}

.social-media a:hover {
  color: #fa1505; /* Change color on hover */
}

.footer-links {
  flex: 1 1 100%;
  text-align: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
}

.footer-links a:hover {
  color: #fa1505; /* Change color on hover */
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.9rem;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .logo,
  .social-media,
  .footer-links {
    margin-bottom: 30px;
  }

  .footer-links {
    justify-content: center;
  }
}
